@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
    transition: .2s;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', 'Sans Serif';
    //padding: 1rem;

    background-color: whitesmoke;
}


html {
    scroll-behavior: smooth;
}

.clearLink:link,
.clearLink:visited {
    color: inherit;
    text-decoration: none;
}