.nav {
    width: 100%;
    padding: 1rem;

    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    
    &__left {
        width: 150px;
        height: 45px;
    }

    &__right {
        
    }
}

.menu {
    list-style: none;

    display: flex;

    &__item {
        margin-left: 1rem;
        padding: .5rem 1rem;

        border-radius: 5px;

        &--disabled {
            color: #999;
            cursor: not-allowed;

            &:hover {
                background-color: transparent;
            }
        }

        &--available {

            &:hover {
                color: white;
                background-color: $secondaryColor;
            }
        }

    }
}